@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h3 class="display-3">Discover new, interesting projects to support or create your own!</h3>
        <p class="lead">Become a funder on projects that excite you. Become a creator of ideas that inspire you.</p>
        <hr class="my-4">
    </div>
